In [1]:
import pandas as pd

In [2]:
df_random = df = pd.read_json(f'perf_summary/baseline/score_random.json')
df_random.index = ['acc', 'recall', 'speci', 'profit', 'min', 'max'] 
df_random.columns = [x for x in range(1,13)]


df_hold = df = pd.read_json(f'perf_summary/baseline/score_hold.json')
df_hold.index = ['acc', 'profit', 'min', 'max']
df_hold.columns = [x for x in range(1,13)]

for x in range(1,11) :
    if x == 1 : 
        df = pd.read_json(f'perf_summary/baseline/log_model/log_model_{x}.json')
    else :
        df = df + pd.read_json(f'perf_summary/baseline/log_model/log_model_{x}.json')
df.index = ['acc', 'recall', 'speci', 'profit', 'min', 'max'] 
df.columns = [x for x in range(1,13)]
df_log = df/10

In [31]:
for x in range(1,11) :
    if x == 1 : 
        df_10 = pd.read_json(f'perf_summary/lstm_pca/score_{x}.json')
    else :
        df_10 = df_10 + pd.read_json(f'perf_summary/lstm_pca/score_{x}.json')
df_10.index = ['acc', 'recall', 'speci', 'profit', 'min', 'max'] 
df_10.columns = [x for x in range(1,13)]
df_10 = df_10/10

In [93]:
list_of_length  = [5,10,20,50] 
acc_sum = {}
for t in list_of_length :
    acc = []
    for x in range(1,11) :
        if x == 1 : 
            df = pd.read_json(f'perf_summary/{t}-7/dnn/2y/score_{x}.json')
        else :
            df = df + pd.read_json(f'perf_summary/{t}-7/dnn/2y/score_{x}.json')
    df.index = ['acc', 'recall', 'speci', 'profit', 'min', 'max'] 
    df.columns = [x for x in range(1,13)]
    df = df/10
    acc.append(df.loc['profit'].prod())
    for x in range(1,11) :
        if x == 1 : 
            df_3y = pd.read_json(f'perf_summary/{t}-7/dnn/3y/score_{x}.json')
        else :
            df_3y = df_3y + pd.read_json(f'perf_summary/{t}-7/dnn/3y/score_{x}.json')
    df_3y.index = ['acc', 'recall', 'speci', 'profit', 'min', 'max'] 
    df_3y.columns = [x for x in range(1,13)]
    df_3y = df_3y/10
    acc.append(df_3y.loc['profit'].prod())
    acc_sum[f'{t}-7'] = acc

In [58]:
acc_compare = pd.concat((df_10[3:4],df_5[3:4],df_hold[1:2],df_log[3:4],df_random[3:4]))
acc_compare.index = ['10-1-3y','5-1-2y','hold','log' ,'random']

In [59]:
acc_compare

,1,2,3,4,5,6,7,8,9,10,11,12
10-1-3y,1.512896,1.269653,0.891495,1.037902,0.704843,1.312595,1.601474,0.951217,0.962430,0.937656,1.131194,1.190627
5-1-2y,1.098903,1.313376,0.931653,0.938979,0.706749,1.507895,1.733310,0.923335,0.989595,1.021815,1.196580,1.105962
hold,1.081140,1.236843,0.763699,0.915120,0.547143,1.560999,1.748461,0.906718,0.967497,0.820688,1.241497,1.305065
log,1.008114,1.000000,0.991121,0.991512,0.954714,1.065308,1.101937,0.988371,0.998626,0.993096,1.045498,1.305065
random,0.968324,1.242505,0.890244,0.986584,0.629970,1.327037,1.314429,0.993054,1.038193,0.894413,1.185541,1.142558

In [67]:
tot_profit = {'random' : df_random.loc['profit'].prod(),
      'hold': df_hold.loc['profit'].prod(),
      'log' : df_log.loc['profit'].prod()}

In [66]:
tot_accuracy = {'random' : df_random.loc['acc'].mean(),
      'hold': df_hold.loc['acc'].mean(),
      'log' : df_log.loc['acc'].mean()}

In [76]:
tot_recall = {'random' : df_random.loc['speci'].mean(),
      'hold': 0,
      'log' : df_log.loc['speci'].mean()}

In [68]:
pd.DataFrame.from_dict(tot_profit, orient = 'index')

               0
random  1.450395
hold    1.627925
log     1.484942

In [77]:
pd.DataFrame.from_dict(tot_recall, orient = 'index')

               0
random  0.502656
hold    0.000000
log     0.343518

In [251]:
d = pd.concat((lstm_10_1_3y[3:4],lstm_10_1_2y[3:4]))
d.index = ['3y','2y']

In [253]:
d.loc['3y'].prod()

0.8581509362688928

In [92]:
tot_return_1 = {'5-7' : [2.001789,1.814501],
'10-7' : [1.327112,2.339352],
'20-7' : [1.640620,2.232261],
'50-7' : [2.170431,2.370830]}

In [49]:
pd.DataFrame(tot_return_1, index = ['2y','3y'])

         5-1      10-1      20-1      50-1
3y  2.001789  1.327112  1.640620  2.170431
2y  1.814501  2.339352  2.232261  2.370830

In [94]:
pd.DataFrame(acc_sum, index = ['2y','3y'])

         5-7      10-7      20-7      50-7
2y  1.327391  1.387040  1.797394  0.770746
3y  2.081839  1.508233  1.815223  0.674316

In [11]:
list_of_length  = [5,10,20,50] 
list_of_model = ['lstm','dnn']
list_of_horizon = [1,7]
return_period = {1:0,2:0,3:0,4:0,5:0, 6:0, 7:0, 8:0,9:0,10:0,11:0,12:0}
best_model = {}
for h in list_of_horizon :
    for m in list_of_model :
        for t in list_of_length :
            acc = []
            for x in range(1,11) :
                if x == 1 : 
                    df = pd.read_json(f'perf_summary/{t}-{h}/{m}/2y/score_{x}.json')
                else :
                    df = df + pd.read_json(f'perf_summary/{t}-{h}/{m}/2y/score_{x}.json')
            df.index = ['acc', 'recall', 'speci', 'profit', 'min', 'max'] 
            df.columns = [x for x in range(1,13)]
            df = df/10
            for w in range(1,13) :
                if df[w].loc['profit'] > return_period[w] : 
                    return_period[w] =  df[w].loc['profit']
                    best_model[w] = f'{m}-{t}-{h}-2y'
            for x in range(1,11) :
                if x == 1 : 
                    df_3y = pd.read_json(f'perf_summary/{t}-{h}/{m}/3y/score_{x}.json')
                else :
                    df_3y = df_3y + pd.read_json(f'perf_summary/{t}-{h}/{m}/3y/score_{x}.json')
            df_3y.index = ['acc', 'recall', 'speci', 'profit', 'min', 'max'] 
            df_3y.columns = [x for x in range(1,13)]
            df_3y = df_3y/10
            for w in range(1,13) :
                if df_3y[w].loc['profit'] > return_period[w] : 
                    return_period[w] =  df_3y[w].loc['profit']
                    best_model[w] = f'{m}-{t}-{h}-3y'

In [18]:
best = pd.DataFrame.from_dict(return_period, orient = 'index')

In [71]:
best['hold'] = df_hold.loc['profit']

In [73]:
best.columns = ['best','hold']

In [75]:
best['best'].prod()

15.008122573962801

In [67]:
pd.DataFrame.from_dict(best_model,orient = 'index')

               0
1     dnn-5-7-3y
2    lstm-5-1-2y
3   lstm-20-1-2y
4    lstm-5-1-3y
5   lstm-50-7-2y
6    lstm-5-1-2y
7     dnn-5-1-3y
8    dnn-20-1-2y
9    dnn-50-7-2y
10   dnn-50-1-3y
11   dnn-10-1-2y
12   dnn-20-1-3y

In [70]:
df_hold.loc['profit']

1     1.081140
2     1.236843
3     0.763699
4     0.915120
5     0.547143
6     1.560999
7     1.748461
8     0.906718
9     0.967497
10    0.820688
11    1.241497
12    1.305065
Name: profit, dtype: float64

In [97]:
for x in range(1,11) :
    if x == 1 : 
        df = pd.read_json(f'perf_summary/autoencoder/score_{x}.json')
    else :
        df = df + pd.read_json(f'perf_summary/autoencoder/score_{x}.json')
df.index = ['acc', 'recall', 'speci', 'profit', 'min', 'max'] 
df.columns = [x for x in range(1,13)]
df_log = df/10

In [100]:
df_log.loc['profit'].prod()

2.028145807248776

In [29]:
df_10

,1,2,3,4,5,6,7,8,9,10,11,12
acc,0.501111,0.464444,0.483333,0.502222,0.484444,0.591111,0.575556,0.477778,0.484444,0.492222,0.528889,0.538889
recall,0.704167,0.210417,0.704255,0.895556,0.569048,0.850877,0.948077,0.632500,0.634146,0.662500,0.753191,0.603636
speci,0.269048,0.754762,0.241860,0.108889,0.410417,0.142424,0.065789,0.354000,0.359184,0.356000,0.283721,0.437143
profit,1.046113,0.937877,0.805143,0.931355,0.723044,1.463833,1.703868,0.854748,0.975105,0.820320,1.225317,1.179536
min,0.849102,0.925133,0.909173,0.926885,0.893269,0.929377,0.858895,0.889567,0.951663,0.684137,0.925297,0.913194
max,1.185470,1.066662,1.086279,1.048932,1.088586,1.165551,1.130579,1.105419,1.083672,1.154938,1.122436,1.112765

In [32]:
df_10.loc['profit'].prod()

1.6651624315017104

In [9]:
df_10.loc['profit'].prod()

3.0445079095270513